<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,0,0,0.4) 0%, rgba(0,0,0,0.4) 50%), url('<%= asset_path('background2.jpg') %>');">
  <div class="banner-content">
    <h1><span></span></h1>
    <p>20 Best Cocktails Everyone Should Know</p>
    <a href="#cocktails-content" class="btn btn-primary btn-lg">GET IT</a>
  </div>
</div>

<div class="container padded" id="cocktails-content">
<%= image_tag "recipe.png", id: "recipe", class: "padded" %>

  <div class="row">
  <% @cocktails.each do |cocktail| %>
    <div class="col-xs-12 col-sm-4 padded-small">
      <div class="card" style="background-image: linear-gradient(-225deg, rgba(0,0,0,0.2) 0%, rgba(0,0,0,0.2) 50%), url('<%= cocktail.photo? ? cl_image_path(cocktail.photo.path, height: 300, width: 400, crop: :fill) : '' %>');">
        <div class="card-name">
          <h4><%= cocktail.name %></h4>
        </div>
        <div class="card-text">
          <%= link_to "See Details", cocktail_path(cocktail) %>
        </div>
        <%= link_to "", cocktail_path(cocktail), class: "card-link" %>
      </div>
    </div>
    <% end %>
  </div>
</div>






