<script src="jquery.js"></script>
<script src="typed.js"></script>
<script>
    $(function(){
        $(".element").typed({
            strings: ["First sentence.", "Second sentence."],
            typeSpeed: 0
        });
    });
</script>

<span class="element"></span>


<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,0,0,0.4) 0%, rgba(0,0,0,0.4) 50%), url('<%= asset_path('background2.jpg') %>');">
  <div class="banner-content">
    <h1>BEST COCKTAILS</h1>
    <p>20 Best Cocktails Everyone Should Know</p>
    <a href="#cocktails-content" class="btn btn-primary btn-lg">GET IT</a>
  </div>
</div>

<div class="container padded" id="cocktails-content">
<%= image_tag "recipe.png", id: "recipe", class: "padded" %>

  <div class="row">
  <% @cocktails.each do |cocktail| %>
    <div class="col-xs-12 col-sm-4 padded-small">
      <div class="card" style="background-image: linear-gradient(-225deg, rgba(0,0,0,0.2) 0%, rgba(0,0,0,0.2) 50%), url('<%= cocktail.photo? ? cl_image_path(cocktail.photo.path, height: 300, width: 400, crop: :fill) : '' %>');">
        <div class="card-name">
          <h4><%= cocktail.name %></h4>
        </div>
        <div class="card-text">
          <%= link_to "See Details", cocktail_path(cocktail) %>
        </div>
        <%= link_to "", cocktail_path(cocktail), class: "card-link" %>
      </div>
    </div>
    <% end %>
  </div>
</div>

<div id="footer">
  <div class="container">
    <div class="row">
      <div class="col-xs-4">
        <ul class="list-inline">
          <li><a href=""><i class="fa fa-wechat"></i></a></li>
          <li><a href="http://www.facebook.com/jing.zhu.5283" target="_blank"><i class="fa fa-linkedin"></i></a></li>
          <li><a href="http://www.linkedin.com/in/jing-zhu-270610b0/" target="_blank"><i class="fa fa-facebook"></i></a></li>
        </ul>
      </div>
      <div class="col-xs-8 text-right">
        <p>© GinkoTen</p>
      </div>
    </div>
  </div>
</div>




