<%= simple_form_for([@cocktail, @dose]) do |f| %>
<%= f.error_notification%>
<div class="form padded-small">
  <div class="form-inputs">
    <%= f.input :description, placeholder: "Enter a dose description" %>
    <%= f.input :ingredient_id, collection: Ingredient.all %>
  </div>
  <div class="form-btn">
    <span><%= f.submit %></span>
  </div>
</div>
<% end %>
